.content {
    background-image: url('../images/gravel.png');
    padding-top : 20px;
    padding-bottom : 20px;
}

.header-line {
    border-bottom-color: #777777;
    padding-bottom: 5px;
    border-width: 0px 0px 5px 0px;
    border-style: solid;   
}

.main-section-para { 
    color: #777777;
}

.para-link {
    text-decoration : none;
    color : #777777;    
}

.portfolio-pic {
    width :300px;
    height: 300px;
}

.portfolio-band {
    position : relative;
}

.note {
    position : absolute;
    bottom : 10px;
    font-size : 14pt;
    text-align: center;
    width : 300px;
    padding : 10px 0px 10px 0px;
}

.footer-custom {
    background-color: #666666;
    text-align: center;
    color: #777777;
    padding-top : 25px;
    border-top-color : #4aaaa5;
    border-width: 10px 0px 0px 0px;
    border-style: solid;
}

#contact-submit {
    background-color: #17a2b8;
    color: white;    
    font-size: 16px;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}